* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(198, 189, 252);
}

main {
	padding: 20px;
}

/* HEADER */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	min-height: 70px;
	background-color: rgb(167, 159, 211);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* ADD BUTTON */
#openFormBtn {
	cursor: pointer;
	border-radius: 14px;
	padding: 12px 20px;
	background-color: violet;
	font-weight: 700;
	font-size: 0.83rem;
	transition: 0.3s;
}

#openFormBtn:hover {
	background-color: rgb(206, 135, 206);
}

/* BOOK GRID */
#book-container {
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 20px;
}

/* BOOK CARD */
.book-card {
	background-color: rgb(248, 248, 248);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	gap: 30px;
	text-align: center;
}

.book-card h3 {
	background-color: rgb(167, 159, 211);
	padding: 5px;
	border-radius: 5px;
}

/* CARD BUTTONS */
.card-buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}

.card-buttons button {
	width: 120px;
	padding: 8px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 700;
	transition: 0.3s;
}

.card-buttons .status-read:hover {
	background-color: rgb(22, 185, 131);
}

.card-buttons .status-unread:hover {
	background-color: rgb(224, 149, 9);
}

.card-buttons .remove-btn:hover {
	background-color: rgb(230, 96, 96);
}

.status-read {
	background-color:rgb(23, 199, 140);
}

.status-unread {
	background-color: rgb(241, 160, 7);
}

.text-read {
	color: rgb(23, 199, 140);
	font-weight: 700;
}

.text-unread {
	color: rgb(224, 149, 9);
	font-weight: 700;
}

.remove-btn {
	background-color: rgb(255, 108, 108);
}

/* DIALOG */
dialog {
	border: none;
	border-radius: 8px;
	padding: 30px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
	width: 350px;
	/* Center the dialog */
	inset: 0;
	margin: auto;
	position: fixed;
}

dialog form h2 {
	text-align: center;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
}

/* OPEN DIALOG ANIMATION */
dialog[open] {
	animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-15px) scale(0.95);
	}

	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

/* FORM */
#formBook {
	display: flex;
	flex-direction: column;
	gap: 45px;
}

/* FLOATING INPUT GROUP */
.form-info {
	position: relative;
}

/* INPUT */
.form-info input {
	width: 100%;
	font-size: 16px;
	padding: 12px 10px 10px 5px;
	border: none;
	border-bottom: 2px solid rgb(206, 198, 198);
	background: transparent;
	color: rgb(44, 44, 44);
	transition: all 0.2s ease;
}

/* REMOVE OUTLINE */
.form-info input:focus {
	outline: none;
}

/* LABEL */
.form-info label {
	position: absolute;
	left: 5px;
	top: 12px;
	color: rgb(116, 116, 116);
	font-size: 16px;
	pointer-events: none;
	transition: 0.2s ease all;
}

/* FLOAT LABEL */
.form-info input:focus ~ label,
.form-info input:valid ~ label {
	top: -10px;
	font-size: 12px;
	color: rgb(52, 152, 219);
}

/* ANIMATED BAR */
.form-info .bar {
	position: relative;
	display: block;
	width: 100%;
}

.form-info .bar::before,
.form-info .bar::after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: rgb(52, 152, 219);
    transition: 0.2s ease all;
}

.form-info .bar::before {
	left: 50%;
}

.form-info .bar::after {
	right: 50%;
}

.form-info input:focus ~ .bar::before,
.form-info input:focus ~ .bar::after {
	width: 50%;
}

/* HIGHLIGHT EFFECT */
.form-info .highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

.form-info input:focus ~ .highlight {
   animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
	from {
		background: rgb(52, 152, 219);
	}

	to {
		width: 0;
		background: transparent;
	}
}

/* FORM BUTTONS */
.form-buttons {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

.form-buttons button {
	flex: 1;
	padding: 10px;
	/* border: none; */
	border-radius: 4px;
	cursor: pointer;
}

/* CANCEL */
#cancelBtn {
    background-color: #95a5a6;
    color: white;
}

#submitBtn {
    background-color: violet;
    color: white;
}

#cancelBtn:hover {
	background-color: rgb(145, 145, 145);
}

#submitBtn:hover {
  background-color: rgb(206, 135, 206);
}